# pathes MUST BE absulute pathes
raids = [
    "/raids/raid0",
    "/raids/raid1",
    "/raids/raid2"
];

dirmap = (
    { export = "pu"; path = "public"; ispublic = 1;},
    { export = "pr"; path = "private"; },
    { export = "ba"; path = "backup"; },
    { export = "an"; path = "anonymous"; }
);

anon_mapping = "/raids/mammut-fuse/anonmap";
shared_export = "shared";
anon_path = "anonymous";
public_path = "public";
anon_user = "nobody";

