
[Unit]
Description=Mammutfs backup lister
Wants=mammut_ceph.service
After=mammut_ceph.service

[Service]
Type=forking
# Changeme
#User=mammut-backup
WorkingDirectory=/srv/mammutfs/mammut-fuse/
ExecStart=/srv/mammutfs/mammut-fuse/tools/mammutfs-backup-wrapper.py
Restart=always

[Install]
WantedBy=multi-user.target

