[Unit]
Description=Mammutfs Management Service
After=mammut_ceph.service

[Service]
User=nobody
WorkingDirectory=/srv/mammutfs/mammut-fuse
ExecStart=/usr/bin/python3  -m mammutfsd --config /etc/mammutfs/mammutfs.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target

