[Unit]
Description=Mammutfs public lister
After=raidmounts.target

[Service]
Type=forking
User=nobody
WorkingDirectory=/usr/local/sbin/mammut-fuse
ExecStart=/usr/local/sbin/mammut-fuse/build/mammutfs /etc/mammutfs/public-list.conf
Restart=always

[Install]
WantedBy=multi-user.target
