[Unit]
Description=Mammutfs user service for UID %i
After=mammut_ceph.service

[Service]
Type=forking
WorkingDirectory=/srv/mammutfs/mammut-fuse
ExecStart=/srv/mammutfs/mammut-fuse/tools/mammutfs-user-wrapper.py start %i
ExecStop=/srv/mammutfs/mammut-fuse/tools/mammutfs-user-wrapper.py stop %i
Restart=always

[Install]
RequiredBy=user@%i.service

