[Unit]
Description=Mammutfs Management Service
After=raidmounts.target

[Service]
Type=simple
User=nobody
WorkingDirectory=/usr/local/sbin/mammut-fuse/mammutfsd
ExecStart=/usr/local/sbin/mammut-fuse/mammutfsd/mammutfsd.py --config /etc/mammutfs/mammutfs.conf
Restart=always

[Install]
WantedBy=multi-user.target

